<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板システム</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/create.css}">
<script type="text/javascript" th:src="@{/js/validationCreate.js}"></script>
</head>
<body>
	<h1>新規登録</h1>

	<form action="/users" th:action="@{/users}" th:object="${form}" method="POST">
		<!-- <p th:text="${message}" id="message" ></p>
		<label th:each="error : ${#fields.detailedErrors()}" style="color: red;" ></label>
		<br> -->
		<!-- jsによるバリデーション表示 -->
		<div id="validation_message"></div>
		<div id="login_id_validation"></div>
		<div id="name_validation"></div>
		<div id="password_validation"></div>
		<div id="password2_validation"></div>
		<br>

		<label for="login_id">ログインID</label>
		<input type="text" name="login_id" th:field="*{login_id}" />
		<br>

		<label for="name">お名前</label>
		<input type="text" name="name" th:field="*{name}" />
		<br>

		<label for="password">パスワード</label>
		<input type="password" name="password" th:field="*{password}" />
		<br>

		<label for="password2">パスワード(確認用)</label>
		<input type="password" name="password2" id="password2" value="" />
		<br>

		<label for="department_id">所属支店</label>
		<select name="department_id" id="department_id">
			<option th:each="de: ${departments}" th:value="${de.id}"
				th:selected="${de.id == form.department_id}" th:inline="text">[[${de.department}]]
			</option>
		</select>
		<br>

		<label for="position_id">役職</label>
		<select name="position_id" id="position_id">
			<option th:each="po: ${positions}" th:value="${po.id}"
				th:selected="${po.id == form.position_id}" th:inline="text">[[${po.position}]]
			</option>
		</select>
		<br>

		<input type="submit" value="登録" onclick="return createOnClick();" >
		<a href="/users">ホーム</a>
	</form>
</body>
</html>