<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板システム</title>
</head>
<body>
	<h1>ホーム</h1>
	<a th:href="@{/users/create}">新規登録</a>

	<table>
		<tr>
			<th>ログインID</th>
			<th>名前</th>
			<th>支店</th>
			<th>役職</th>
		</tr>
		<tr th:each="user: ${users}">
			<td th:text="${user.login_id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.department_id}"></td>
			<td th:text="${user.position_id}"></td>
			<td><a th:href="@{/users/setting/} + ${user.id}">編集</a></td>

			<!-- ユーザー停止ボタン -->
			<td>
				<form action="/users/stop" method="post">
					<input type="submit" formaction="users/stop" value="停止">
					<input type="hidden" name="id" th:value="${user.id}">
				</form>
			</td>

			<!-- ユーザー復活ボタン -->
			<td>
				<form action="/users/start" method="post">
					<input type="submit" formaction="users/start" value="復活">
					<input type="hidden" name="id" th:value="${user.id}">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>